{% extends 'base.html.twig' %}

{% block title %} Bienvenue contact 
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! </h1>

		Voici un test de contact
		<ul></ul>
	</div>
{% endblock %}
